{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">Özgür Hikaye Manifestosu...</h1>

<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat neque id nisi blandit, a rhoncus erat placerat. Nunc sit amet rutrum eros. Nunc sagittis lorem ante, vitae gravida leo lacinia nec. Sed elit magna, dapibus ac fringilla et, vulputate laoreet dui. Fusce scelerisque velit eu facilisis lacinia. Nulla in lectus molestie, auctor nunc feugiat, tincidunt ipsum. In hac habitasse platea dictumst. Sed libero est, blandit vitae tincidunt ac, bibendum id dolor. Duis facilisis laoreet enim, quis sagittis felis sollicitudin eget. Pellentesque congue pretium viverra.</p>

<p class="lead">Nunc a turpis vel nunc gravida bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut sodales, turpis eget eleifend porttitor, nunc leo sollicitudin orci, ultricies condimentum ante purus vel velit. Nulla volutpat turpis justo, a rhoncus ex tincidunt a. Proin massa augue, auctor et ligula a, bibendum consequat est. Praesent aliquam, massa sit amet laoreet bibendum, ligula erat viverra magna, et dignissim libero est quis augue. Nulla placerat tempor felis quis dapibus. Aenean vel ultricies libero, eget posuere felis.</p>

<p class="lead">Aliquam convallis vestibulum ipsum, dignissim cursus ex faucibus et. Vivamus in ipsum id magna pretium elementum ut eget urna. Aenean a dui sem. Phasellus finibus risus ante, eget gravida neque pharetra in. Mauris sit amet odio nunc. Nam ac venenatis ipsum, at rhoncus ipsum. Suspendisse nulla nisi, dictum vel pretium porta, consequat id quam. Quisque eu laoreet velit, eu faucibus quam. Fusce molestie felis vitae condimentum tristique. Duis vel gravida odio, ac blandit urna. </p>

<p class="lead">2017</p>
<p class="lead">&nbsp;</p>



{% endblock %}