<div style="margin: 20px;">
  <h1>{{ story.story_title }}</h1>
	{% for contribution in story_contributions %}
		<p>{{ contribution.contribution_text }}</p>
	{% empty %}
		<p class="text-center bg-warning">İçeri yok</p>
	{% endfor %}


	<div class="row">
	  <div class="col-md-2">
			<button class="btn btn-default btn-info" data-dismiss="modal">Kapat</button>	  
	  </div>

	  <div class="col-md-10 text-right">

			<button type="button" class="btn btn-primary btn-xl">
			  <span class="glyphicon glyphicon-thumbs-up"></span>
			</button>

			<button type="button" class="btn btn-danger btn-xl">
			  <span class="glyphicon glyphicon-thumbs-down"></span>
			</button>
	   </div>
	</div>

</div>