<form method="post" action="{% url 'story_create' %}" class="js-story-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Yeni hikaye oluşturun</h4>
  </div>
  <div class="modal-body">
    {% include 'ozgur_modul/includes/partial_story_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
    <button type="submit" class="btn btn-primary">Oluştur</button>
  </div>
</form>