{% for story in storys %}
  <tr>
    <td><u style="cursor: pointer;">
      <span data-url="{% url 'story_view' pk=story.id %}" 
            class="js-view-story">{{ story.story_title }}</span></u></td>
    <td>{{ story.create_time|date:"d.m.Y" }}</td>
    <td>{{ story.show_count }}</td>
    <td>{{ story.good_count }}</td>
    <td>{{ story.bad_count }}</td>
    <td>{{ story.contribution_count }}</td>
    <td style="width: 50px">
      <button type="button"
              class="btn btn-warning btn-sm js-new-cont"
              data-url="{% url 'new_cont_create' pk=story.id %}">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="7" class="text-center bg-warning">Hikaye bulunamadı...</td>
  </tr>
{% endfor %}
